*{
    padding: 0;
    margin: 0;
}
body{
        font-family: "Poppins", sans-serif;  
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.navbar-links{
    display: flex;
    column-gap: 20px; 
}
.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}
.navbar-links a:hover{
    text-decoration: underline;
    color: #1D232C;
}
.navbar-menu-toggle{
    display: none;
}

/*Side Navebar*/

.side-navbar{
    background-color:#1D232C ;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
}
.side-navbar-links{
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color: white;
}
.side-navbar-links a:hover{
    text-decoration: underline;
}

/*Header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
}

.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
}

.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2{
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 11%;
    border-radius: 10px;
    border: none;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}
.news button{
    margin-top: 10px;
    color: #F2F4F7;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;
}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: #F2F4F7;
}
.product-section{
    margin-top: 20px;
}
.product-search{
  width: 80%;
  border: solid black 2px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
    text-align: center;
    flex-basis: 20%;

}
.product-box img{
    border-radius: 10px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-flow: column;
}
.background{
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background: #65c8ff;
}
/* .card{
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 94;
    margin: 0 20px;
    padding: 170px 30px 54px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 10%);
}
.card::before{
    content: "";
    position: absolute;
    top: -880px;
    left: 50%;
    translate: -50% 0;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: #216c27;
}
.background::after{
    content: "";
    position: inherit;
    right: -50vmin;
    bottom: -55vmin;
    translate: -50% 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #143d81;
}
.card .logo {
    position:absolute;
    top: 30px ;
    left: 50%;
    translate: -50% 0;
    width: 64px;
    height: 64px;
}
.card >h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 38px;
    color: rgb(0 0 0 / 38%);
}
.form
:is(input, button){
    width: 100%;
    height: 56px;
    border-radius: 28px;
    font-size: 16px;
    font-family: inherit;
}
.form > input{
    border: 0;
    padding:0 24px;
    color: #222222;
    background:#ededed;
}
.form > input::placeholder[
    color:
] */


/*Media Query*/

@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;  
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}
   